# Exclude All

*

# Include depth 0 Directories

!*/

# Common Files

!.github/**/*
!**/.gitignore
!LICENSE
!README.md

# Assets

!assets/*

# Resources

!resources/*

# Exercises

!exercises/book/**/*
!exercises/lecture/**/*
!exercises/README.md

# Assignments

!assignments/maman11/**/*
!assignments/maman12/**/*
!assignments/maman13/**/*
!assignments/README.md

# Utilities

!utils/scripts/**/*
!utils/libraries/**/*
!utils/templates/**/*
!utils/README.md

# Ignore clangd cache

**/build/
**/.cache/
