# Exclude All

*

# Include depth 0 Directories

!*/

# Common Files

!.github/**/*
!**/.gitignore
!LICENSE
!README.md

# Assets

!assets/*

# Exercises

!exercises/**/*.md
!exercises/book/**/*.[ch]
!exercises/book/**/Makefile
!exercises/book/**/.doxygen*
!exercises/book/**/.clang-format
!exercises/lecture/**/*.[ch]
!exercises/lecture/**/Makefile
!exercises/lecture/**/.doxygen*
!exercises/lecture/**/.clang-format

# Assignments

!assignments/maman11/*
!assignments/maman12/*
!assignments/maman13/*
!assignments/README.md

# Utilities

!utils/scripts/*
!utils/libraries/**/*
!utils/templates/**/*
!utils/README.md

